<!-- fondo-gris.component.html -->
<div class="fondo-gris">
    <div class="header">
        <img src="/assets/imgs/Novus.jpg" alt="Imagen Izquierda" class="imagen-izquierda">
        <div class="user">
            <h1>Usuario</h1>
            <img src="/assets/imgs/user.jpg" alt="Imagen Derecha" class="imagen-derecha">
        </div>
    </div>
    <div class="contenido">
        <div class="izquierda">
            <div class="rectangulo-gris">
                <ul>
                    <li class="Casa">Inicio</li>
                    <li class="userBlanco">Solicitudes</li>
                    <li class="actual"><a href="/usuarionot" class="userAzul">Notificar</a></li>
                    <li class="salir"><a href="/ingreso" class="userAzul">SALIR</a></li>
                </ul>
            </div>
        </div>
        <div class="derecha">
            <h1>Bienvenido!!</h1>
        </div>
    </div>
</div>
