<!-- fondo-gris.component.html -->
<div class="fondo-gris">
    <div class="header">
        <img src="/assets/imgs/Novus.jpg" alt="Imagen Izquierda" class="imagen-izquierda">
        <div class="user">
            <h1>Personal 1</h1>
            <img src="/assets/imgs/user.jpg" alt="Imagen Derecha" class="imagen-derecha">
        </div>
    </div>
    <div class="contenido">
        <div class="izquierda">
            <div class="rectangulo-gris">
                <ul>
                    <li class="CasaAzul">Inicio</li>
                    <li class="user"><a href="/personalpend" class="userAzul">Pendiente</a></li>
                    <li class="archivos">Recuperado</li>
                    <li class="informe">Informe</li>
                    <li class="pc">Estadísticas</li>
                    <li class="salir"><a href="/ingreso" class="userAzul">SALIR</a></li>
                </ul>
            </div>
        </div>
        <div class="centro">
            <h1>Bienvenido!!!</h1>
            
        </div>
        <div class="derecha">
           
        </div>
    </div>
</div>
