/* fondo-gris.component.css */
.fondo-gris {
    background-color: #383c40;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fondo-gris .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.fondo-gris .header .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.fondo-gris .header .user h1 {
    color: #21c6ea;
    font-family: 'Latina Bold', sans-serif;
    margin: 0 10px 0 0; /* Asegura que no haya margen dentro del h1 */
}

.fondo-gris .header .imagen-izquierda {
    max-width: 200px;
    margin: 20px;
}

.fondo-gris .header .user .imagen-derecha {
    max-width: 50px;
    margin-bottom: 10px;
    margin-right: 20px;
    width: auto;
}

.fondo-gris .contenido {
    display: flex;
    width: 100%;
    height: 100%;
}

.fondo-gris .contenido .izquierda {
    flex: 0.3;
}
.fondo-gris .contenido .izquierda ul li a {
    color: #9f9f8d;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    text-decoration: none;
}

.fondo-gris .contenido .izquierda .rectangulo-gris {
    background: linear-gradient(to bottom, #383c40, #606366);
    /* Degradado de arriba hacia abajo */
    padding: 20px;
    border-radius: 10px;
    height:92%;
    width: 100%;
    display: flex;
    justify-content: center; /* Centra la lista horizontalmente */
}

.fondo-gris .contenido .izquierda ul {
    list-style: none;
    padding: 0;
}

.fondo-gris .izquierda .rectangulo-gris ul li{
    color: #9f9f8d;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    font-size:larger;
    
}
.fondo-gris .izquierda .rectangulo-gris ul li.actual {
    color: #ffffff; /* Sobreescribe el color para el elemento con la clase "actual" */
    font-weight: bold;
    height: 40px; /* Altura específica */
    width: 100px; /* Ancho específico */
    line-height: 40px; /* Alineación vertical del texto dentro del elemento */
    font-size: 18px; /* Tamaño de fuente específico */
    background-image: url("/assets/imgs/carpeta_azul.jpg"); /* Ruta a tu imagen */
    background-repeat: no-repeat;
    background-position: 20px left; /* Ajusta la posición según tu diseño */
    padding-left: 50px; /* Ajusta el espaciado entre la imagen y el texto */
    background-size: 40px 40px;
}
.fondo-gris .izquierda .rectangulo-gris ul li.userBlanco {
    height: 40px; /* Altura específica */
    width: 100px; /* Ancho específico */
    line-height: 40px; /* Alineación vertical del texto dentro del elemento */
    font-size: 18px; /* Tamaño de fuente específico */
    background-image: url("/assets/imgs/user_blanco.jpg"); /* Ruta a tu imagen */
    background-repeat: no-repeat;
    background-position: 20px left; /* Ajusta la posición según tu diseño */
    padding-left: 50px; /* Ajusta el espaciado entre la imagen y el texto */
    background-size: 40px 40px;
}
.fondo-gris .izquierda .rectangulo-gris ul li.Casa {
    height: 40px; /* Altura específica */
    width: 100px; /* Ancho específico */
    line-height: 40px; /* Alineación vertical del texto dentro del elemento */
    font-size: 18px; /* Tamaño de fuente específico */
    background-image: url("/assets/imgs/casa.jpg"); /* Ruta a tu imagen */
    background-repeat: no-repeat;
    background-position: 20px left; /* Ajusta la posición según tu diseño */
    padding-left: 50px; /* Ajusta el espaciado entre la imagen y el texto */
    background-size: 40px 40px;
}

.fondo-gris .contenido .derecha {
    text-align: left;
    margin-left: 250px;
    font-family: 'Latina Bold', sans-serif;
    color:#1fd5fd;
    width: 40%;
}
.fondo-gris .contenido .derecha form {
    display: flex;
    flex-direction: column;
}

.fondo-gris .contenido .derecha form div {
    margin-bottom: 15px;
}

.fondo-gris .contenido .derecha form label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
    margin-bottom: 10px;
}

.fondo-gris .contenido .derecha form textarea,
.fondo-gris .contenido .derecha form select,
.fondo-gris .contenido .derecha form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #606366;
    color: #ffffff;
}
.fondo-gris .contenido .derecha form textarea::placeholder {
    color: #b4adad; /* Cambia el color del texto de marcador de posición a blanco */
  }

  .fondo-gris .contenido .derecha form button {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1fd5fd;
    color: #524e4e;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
  }