<!-- fondo-gris.component.html -->
<div class="fondo-gris">
    <div class="header">
        <img src="/assets/imgs/Novus.jpg" alt="Imagen Izquierda" class="imagen-izquierda">
        <div class="user">
            <h1>Usuario</h1>
            <img src="/assets/imgs/user.jpg" alt="Imagen Derecha" class="imagen-derecha">
        </div>
    </div>
    <div class="contenido">
        <div class="izquierda">
            <div class="rectangulo-gris">
                <ul>
                    <li class="Casa"><a href="/userin" class="userAzul">Inicio</a></li>
                    <li class="userBlanco">Solicitudes</li>
                    <li class="actual">Notificar</li>
                    <li class="salir"><a href="/ingreso" class="userAzul">SALIR</a></li>
                </ul>
            </div>
        </div>
        <div class="derecha">
            <h1>Notificar Objeto</h1>
            <form>
                <div>
                  <label for="descripcion">Descripción del objeto:</label>
                  <textarea id="descripcion" name="descripcion" rows="4" required [(ngModel)]="nuevoObjeto.descripcion" placeholder="Describa de manera completa el objeto perdido"></textarea>
                </div>
                <div>
                  <label for="categoria">Evento:</label>
                  <select id="categoria" name="categoria" required [(ngModel)]="nuevoObjeto.evento.descripcion">
                    <option *ngFor="let evento of eventos" [value]="evento">{{ evento }}</option>
                  </select>
                </div>
                <div>
                  <label for="zona">¿En qué zona se perdió el objeto?</label>
                  <textarea id="zona" name="zona" rows="4" [(ngModel)]="nuevoObjeto.zona" placeholder="Campo no obligatorio"></textarea>
                </div>
                <button type="button" (click)="guardar()">Enviar</button>
              </form>
        </div>
    </div>
</div>
